vendor/
var/
pub/static/
bin/
dev/
generated/
lib/
phpserver/
setup/
.htaccess
.editorconfig
.htaccess.sample
.php-cs-fixer.cache
.php-cs-fixer-dist.php
.user.ini
composer.json
composer.lock
grunt-config.json.sample
Gruntfile.js.sample
nginx.conf.sample
package.json.sample
